canvas {
    background-color: #ADD8E6;
    position: fixed;
    pointer-events: auto;
}

#overlay {
    z-index: 2;
}

.mainmenu {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 400px;
    max-height: 400px;
    overflow-x: hidden;
    text-align: center;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.place {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow: hidden;
}
.prev {
    width:inherit;
    height:inherit;
}
/* .first::after {
       transform: scale(1.5) translateY(-4px);
       display: inline-block;
       content: url(./play/media/crown.png);
       image-rendering: pixelated;
} */
.holdthis {
    display: -webkit-inline-box;
    overflow-x: scroll; 
}

iframe {
    width: 50vw;
    height: 500px;
    justify-self: center;
    border-style: solid;
    --user-select: none;
    border-radius: 3px;
    border-color: rgb(0, 0, 0);
    border-width: 3px;
}

main {
    display: contents;
}

body,
html {
    background-color: grey;
    margin: 0px;
    padding: 0px;
    font-family: monospace;
    height: 100vh;
    width: 100vw;
}

select:active {
    box-shadow: #1d8a7a 0px 0px 2px 0px;
}

input[type=range] {
    width: 100px;
}

input[type=color] {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: 10px
}

input[type=color]::-webkit-color-swatch {
    border-radius: 100%;
}

input[type=color]::-moz-color-swatch {
    border-radius: 100%;

}

input[type=checkbox],
input[type=range] {
    cursor: pointer;
}

select {
    border-radius: 15px;
    width: 120px;
    height: 30px;
    background-color: #1d8a7a;
    ;
    border-color: #176b5e;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    font-family: monospace;
}

.cute-green:hover {
    background-color: #67db71;
}


input::placeholder {
    color: rgb(56, 56, 56);
    font-family: monospace;
}


.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    margin: 30px;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #176b5e;
    animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
}

.loader::after {
    margin: 8px;
    animation-duration: 3s;
}

@keyframes l15 {
    100% {
        transform: rotate(1turn)
    }
}

#form {
    display: inline-flex;
    flex-flow: column;
}

input[type=file]::file-selector-button,
.cute-green-button {
    background-color: #b0e57c;
    text-decoration: none;
    border: 2px solid #8bc34a;
    border-radius: 15px;
    padding: 10px 20px;
    display: inline-block;
    font-family: monospace;
    color: #000000;
    cursor: pointer;
    text-align: center;
    margin: 3px;
    transition: background-color 0.3s ease, scale 0.1s ease;
}

input[type=file]::file-selector-button:active,
.cute-green-button:active {
    background-color: #a8db67;
    /* Darker green on hover */
    scale: .97 .97
        /* Slight scale effect */
}

.cute-blue-button {
    filter: hue-rotate(300deg) brightness(80%);
    width: 100px
}

input.cute-green {
    background-color: #43b363;
    opacity: 0.8;
    border: 2px solid #399a3e;
    border-radius: 15px;
    padding: 10px 15px;
    font-family: monospace;
    color: #000000;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3sease, background-color 0.3sease;
    /* max-width: 80%; */
    margin: auto;
}

.preview {
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline;
    background-repeat: no-repeat;
    background-position: center center;
    /* border-radius: 100%; */
}

#pick-level {
    scale: 1.2 1.2;
}

.uhh {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.stat>* {
    margin: 10px;
}

.stat {
    justify-content: center;
    display: grid;
    font-size: 1.5rem;
    justify-self: center;
    margin: 5px;
}

#play {
    display: block;
    margin: 15px;
    font-size: large;
}

#pick-level {
    width: 500px;
    overflow: scroll;
    justify-items: center;
    height: 360px;
    text-align: center;
    justify-content: center;
    zoom: 0.8;
    inset: 0;
    margin: auto;
    text-align: center;
    padding: 10px;
    scrollbar-width: none;
    background-color: #4dcd71;
    opacity: 0.8;
    border: 2px solid #4ac350;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    font-family: 'Choco cooky', monospace;
    text-align: center;
}

@font-face {
    font-family: 'Choco';
    src: url('https://addsoupbase.github.io/media/Chococooky.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('https://addsoupbase.github.io/media/Chococooky.woff2') format('woff');
    /* Pretty Modern Browsers */
    font-weight: normal;
    font-style: normal;
}