@import url('../cute-green.css'); 
canvas {
    background-color: #ADD8E6;
    position: fixed;
    pointer-events: auto;
    touch-action: none;
    cursor:grab;
    --cursor-visibility: auto-hide;
}
canvas:active {
    cursor:grabbing
}
:disabled {
    filter: opacity(50%);
}
.results {
    opacity:0;
    animation-name: join;
    /* animation-delay: 1; */
    animation-duration: .7s;
    animation-timing-function:  ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes join {
    0% {
        opacity: 0;
        letter-spacing: 10px;
    }
    100% {
        opacity: 1;
        letter-spacing: 0px;
    }
}
#overlay {
    z-index: 2;
    max-width: 60vw;
    height: fit-content;
    /* display: block; */
    max-height: 60vh;
    /* place-items: center; */
}
touch-joystick {
    place-items: center;
    place-content: center;
}
.settingsbutton {
    filter:  grayscale(0.9) brightness(0.8);
}
cite::before {
    content: 'By ';
}
.mainmenu {
    background-color: #28a745;
    color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    width: 400px;
    max-height: 400px;
    overflow-x: hidden;
    text-align: center;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.place {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow: hidden;
}

.loser {
    opacity: .45;
    transition: opacity 0.25s linear;
}

.loser:hover {
    opacity: 1
}

.prev {
    width: inherit;
    height: inherit;
}

/* .first::after {
       transform: scale(1.5) translateY(-4px);
       display: inline-block;
       content: url(./play/media/crown.png);
       image-rendering: pixelated;
} */
.holdthis {
    display: -webkit-inline-box;
    overflow-x: scroll;
}
iframe {
    width: 50vw;
    height: 500px;
    justify-self: center;
    border-style: solid;
    --user-select: none;
    border-radius: 3px;
    border-color: #6a7b80;
    border-width: 3px;
}

main {
    display: contents;
}
#mobile-mover {
    width:50px;
    border-radius: 100%;
    height:50px;
    position:relative;
    background-color: #000;
}
#mobile-joystick {
    width:120px;
    touch-action: none;
    height:120px;
    place-items: center;
    place-content: center;
    opacity: 0.5;
    background-color: #6a7b80;
    display: flex;
    position:fixed;
    border-radius: 100%;
    z-index: 1;
}
.faaa {
    display: inline-flex;
    justify-content: center;
}
@media (orientation: portrait) {
    #mobile-joystick {
        top: 70%;
    justify-self: anchor-center;
    }
}
@media (orientation: landscape) {
    #mobile-joystick {
        top: 55%;
        left: -80%;
        justify-self: anchor-center;
    }
}

body,
html {
    background-color: grey;
    color:black;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
     font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

select:active {
    box-shadow: #1d8a7a 0px 0px 2px 0px;
}

input[type=range] {
    width: 100px;
}

input[type=color] {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: 10px
}

input[type=checkbox],
input[type=range] {
    cursor: pointer;
}

select {
    border-radius: 15px;
    width: 120px;
    height: 30px;
    background-color: #1d8a7a;
    ;
    border-color: #176b5e;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



input::placeholder {
    color: rgb(56, 56, 56);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    margin: 30px;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: #176b5e;
    animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
}

.loader::after {
    margin: 8px;
    animation-duration: 3s;
}

@keyframes l15 {
    100% {
        transform: rotate(1turn)
    }
}

#form {
    display: inline-flex;
    flex-flow: column;
}

input[type=file]::file-selector-button,


input[type=file]::file-selector-button:active,


.cute-blue-button {
    filter: hue-rotate(300deg) brightness(80%);
    width: 100px
}


.preview {
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline;
    background-repeat: no-repeat;
    background-position: center center;
    /* border-radius: 100%; */
}

#pick-level {
    scale: 1.2 1.2;
}

.uhh {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.stat>* {
    margin: 10px;
}

.stat {
    justify-content: center;
    display: grid;
    font-size: 1.5rem;
    justify-self: center;
    margin: 5px;
}

#play {
    display: block;
    margin: 15px;
    place-self: center;
    font-size: large;
}

#pick-level {
    width: 500px;
    overflow: scroll;
    justify-items: center;
    height: 360px;
    text-align: center;
    justify-content: center;
    zoom: 0.8;
    inset: 0;
    margin: auto;
    text-align: center;
    padding: 10px;
    scrollbar-width: none;
    background-color: #4dcd71;
    opacity: 0.8;
    border: 2px solid #4ac350;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-align: center;
}

/* @font-face { */
/* font-family: 'Choco'; */
/* src: url('https://addsoupbase.github.io/media/Chococooky.woff2') format('woff2'), */
/* url('https://addsoupbase.github.io/media/Chococooky.woff2') format('woff'); */
/* font-weight: normal; */
/* font-style: normal; */
/* } */