#exportmenu {
    z-index: 2;
    width: 500px;
    height: 350px;
    backdrop-filter: blur(10px);
}
#exportmenu > * {
    zoom:1.2;
}
#exportmenuholder {
width: 100vw;
top: 0;
height: 100vh;
background-color: #3a39394a;
position: fixed;
}

.standout {
    border-radius: 2px;
    border-style: solid;
    border-color: teal;
    border-width: 3px;
    padding: 3px
}

main {
    display: flex;
    justify-content: center;
}

.red {
    margin: 10px;
    filter: hue-rotate(180deg) brightness(0.5);
}

#hol-der {
    display: grid;
}

#controls {
    margin: 30px;
    z-index: 2;
    --user-select: none;
    text-align: center;
    justify-content: center;
    display: ruby;
}

#play-button {
    width: 83px
}

#right-controls,
#left-controls {
    max-width: 20vw;
    width: 290px
}

#right-controls {
    justify-self: end;
}

#right-button {
    width: 80px;
    position: absolute;
    left: -20px;
    bottom: 50%
}

select {
    display: block;
    justify-self: center;
}

.racer {
    display: grid;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border-color: seagreen;
    border-style: solid;
    align-items: center;
}

.racer>div {
    display: flex;
}

.racer>label {
    display: ruby;
}

.menu {
    overflow: scroll;
    justify-items: center;
    height: 100vh;
    text-align: center;
    justify-content: center;
    zoom: 0.8;
    inset: 0;
    scrollbar-width: none;
    background-color: #4dcd71;
    border: 2px solid #4ac350;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #000000;
    text-align: center;
}

#right-menu {
    text-align: center;
}

body,
html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#racer-holder {
    width: 260px;
    height: 220px;
    /* scrollbar-width: thin; */
    filter: brightness(1.1);
    overflow-y: scroll;
    overflow-x: hidden;
    /* scrollbar-color: teal rgb(0, 78, 78); */
}

/* 
#racer-holder::-webkit-scrollbar {
    /* background-color: red; */

